html {
	scroll-behavior: smooth;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.cent {
	text-align: center;
}

body {
	background-color: lightcyan;
	text-align: center;
	font-family: courier;
	font-size: 150%;

}

ul {
	display: inline-block;
	text-align: left;


}

h1 {
	text-shadow: 5px 3px 5px darkgreen;
	font-variant-caps: small-caps;
	font-weight: bold;

}


h3 {
	text-shadow: 5px 3px 5px darkgreen;

}

h2 {
	text-shadow: 5px 3px 5px darkgreen;
	font-weight: bold;
}


span {
	text-decoration: underline;
	font-weight: bold;
}

p {
	text-align: justify;
}

.circleList {
	list-style-type: circle;
}

.starList {
	list-style-type: lower-latin;
}

hr {
	width: 85%;
	margin: auto;

}

.goTo {
	text-align: right;
	font-variant-caps: small-caps;
	font-size: 0.7em;
	margin: 1%;
}


div {

	text-align: justify;
}


p span {
	font-variant-caps: small-caps;

}

.paragraphPadding {
	padding: 0% 5% 0% 5%;
}

.columnPadding {
	padding: 2% 5% 2% 5%;

}